@using Autentication.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> signInManager

<ul class="nav navbar-nav navbar-right">
    @if (signInManager.IsSignedIn(User))
    {
        <a asp-controller="Account" asp-action="Logout" class="user-menu-item">
                  <span class="icon material-symbols-rounded">logout</span>
                  <span class="text">Sign Out</span>
        </a>
    }
    @* else
    {
        <li class="nav-item me-4 text-dark"><a asp-controller="Account" asp-action="Login">Login</a></li>
        <li class="nav-item text-dark"><a asp-controller="Account" asp-action="Register">Register</a></li>
    } *@
</ul>