@using Autentication.ViewModels 
@model ChangePasswordViewModel 
@{
    ViewData["Title"] = "ChangePassword"; 
    Layout = "~/Views/Shared/_AccountLayout.cshtml"; 
}

<div class="bg">
  <div class="container">
    <div class="cover">
      <div class="front">
        <img src="/images/login.jpg" alt="" />
        <div class="text">
          <span class="text-1"
            >Every new friend is a <br />
            new adventure</span
          >
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Change Password</div>
          <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-boxes">
              <div class="input-box" style="pointer-events: none">
                <i class="fas fa-envelope"></i>
                <input asp-for="Email" class="color: black" readonly />
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input
                  asp-for="NewPassword"
                  placeholder="Enter your New Password"
                />
                <span
                  asp-validation-for="NewPassword"
                  class="text-danger"
                ></span>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input
                  asp-for="ConfirmNewPassword"
                  placeholder="Confirm your New Password"
                />
                <span
                  asp-validation-for="ConfirmNewPassword"
                  class="text-danger"
                ></span>
              </div>
              <div class="button input-box">
                <input type="submit" value="Change Password" />
              </div>
              <div class="text sign-up-text">
                Remember your Password? <a href="Login">Login</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
