@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-view active" id="Projects">
  <div class="empty-state">
    <h3>Projects</h3>
  </div>
</div>
