/* _content/autentication/Views/Shared/_Layout.cshtml.rz.scp.css */
html[b-zwykh795x6] {
  font-size: 14px;
}

*[b-zwykh795x6] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}
