html {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* body {
  margin-bottom: 60px;
} */

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.bg {
  background-image: url("../images/2149105853.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 10px 30px;
}

.none-decoration:hover {
  text-decoration: none !important;
}
@media (max-width: 730px) {
  .bg {
    padding: 10px auto;
  }
}

#lockScreen {
  display: none; /* invisível por padrão */
  position: fixed; /* fixa na tela inteira */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* fundo escuro translúcido */
  z-index: 9999; /* fica acima de tudo */
  display: flex; /* para usar align-items e justify-content */
  align-items: center; /* vertical centralizado */
  justify-content: center; /* horizontal centralizado */
  flex-direction: column; /* organiza conteúdo em coluna */
  border: none;
  outline: none;
}
