name: Deploy Main

on:
    push:
        branches: ["main"]

jobs:
    deploy-to-iis:
        runs-on: windows-latest
        environment: Production # Aqui você configura aprovação manual

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 9.0.x

            - name: Restore dependencies
              run: dotnet restore

            - name: Build
              run: dotnet build --no-restore

            - name: Merge into Main
              if: ${{ success() }} # Só roda se todos os passos anteriores passaram
              run: |
                  git config user.name "GitHub Actions"
                  git config user.email "actions@github.com"
                  git fetch origin main
                  git checkout main
                  git merge origin/develop --no-ff -m "Merge branch 'develop' into 'main' via GitHub Actions"
                  git push origin main
              shell: pwsh

            - name: Publish para IIS
              run: dotnet publish autentication.sln -c Release -o "C:\inetpub\wwwroot\authentication"
