name: Deploy Main

on:
    push:
        branches: ["main"]

jobs:
    deploy-to-iis:
        runs-on: windows-latest
        environment: Production # Aqui você configura aprovação manual

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 9.0.x

            - name: Restore dependencies
              run: dotnet restore

            - name: Build
              run: dotnet build --no-restore

            - name: Publish para IIS
              run: dotnet publish autentication.sln -c Release -o "C:\inetpub\wwwroot\authentication"
